$enable-responsive-font-sizes: true;
@import './theme-colors.scss';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url("https://use.typekit.net/dux7ttf.css");

body {
  font-family: "darkmode-off-cc", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.font-sans-serif {
  font-family: "darkmode-off-cc", sans-serif;
}