<div class="container my-2">
    <a [routerLink]="['/courses', course?.id]"><h1>{{course?.course_code}}</h1></a>
    <h3>{{course?.name}}</h3>
    <hr>
    <h3 class="text-primary" *ngIf="assignments">Assignments</h3>
    <div *ngFor="let assignment of assignments | orderBy: 'due_at'">
        <a class="card my-2 text-decoration-none" *ngIf="dueLaterThanToday(assignment) && (assignment.points_possible || assignment.rubric_settings?.points_possible)" [routerLink]="['assignments', assignment.id]">
            <div class="card-body" >
                <div class="badge text-bg-info mb-2">
                   {{course?.course_code}}
                </div>
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{assignment.name}}</h5>
                    <div class="">{{assignment.due_at | date }}</div>
                </div>
                <div *ngIf="assignment.points_possible">
                    Points possible: {{assignment.points_possible}}
                </div>
                <div *ngIf="assignment.rubric_settings">
                    (Ruberic) Points possible: {{assignment.rubric_settings.points_possible}}
                </div>
                <!-- <div [innerHTML]="assignment.description"></div> -->
            </div>
        </a>
    </div>
    <div *ngIf="!assignments" class="h4 text-burgundy">
        <i class="bi bi-hourglass-split"></i> Loading...
    </div>
</div>