<div class="container">
    <br>
    <h4 class="text-secondary">Past Assignments</h4>
    <hr>
    <h1 class="text-primary">Upcoming Assignments</h1>
    <div>
        <div class="card my-2">
            <div class="card-body">
                <div class="badge text-bg-info mb-2">
                   EMBA 630 Data Modeling and Decisions
                </div>
                <div class="d-flex justify-content-between">
                <h5 class="card-title">Assignment title</h5>
                <div class="">{{today | date }}</div>
                </div>
            </div>
        </div>
        <div class="card my-2">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                <h5 class="card-title">Assignment title</h5>
                <div class="">{{nextWeek | date }}</div>
                </div>
            </div>
        </div>
    </div>
</div>