<div class="container">
    <br>
    <!-- <h4 class="text-secondary">Past Assignments</h4>
    <hr> -->
    <h1 class="text-primary">Assignments</h1>
    <div>
        <div *ngFor="let assignment of assignments | orderBy: 'due_at'">
            <a class="card my-2 text-decoration-none" *ngIf="dueLaterThanToday(assignment) && (assignment.points_possible || assignment.rubric_settings?.points_possible)" >
                <div class="card-body" >
                    <a [routerLink]="['/courses', assignment.course?.id]"><div class="badge text-bg-info mb-2">
                       {{assignment.course?.course_code}}
                    </div></a>
                    <div class="d-flex justify-content-between">
                        <a [routerLink]="['/courses', assignment.course_id, 'assignments', assignment.id]"><h5 class="card-title">{{assignment.name}}</h5></a>
                        <div class="">{{assignment.due_at | date }}</div>
                    </div>
                    <div *ngIf="assignment.points_possible">
                        Points possible: {{assignment.points_possible}}
                    </div>
                    <div *ngIf="assignment.rubric_settings">
                        (Ruberic) Points possible: {{assignment.rubric_settings.points_possible}}
                    </div>
                    <!-- <div [innerHTML]="assignment.description"></div> -->
                </div>
            </a>
        </div>
        <div *ngIf="!assignments" class="h4 text-burgundy">
            <i class="bi bi-hourglass-split"></i> Loading...
        </div>
    </div>
</div>